// Colors
$green: #00945f;
$highlight: #759b24;
$author: #009e77;
$light-green: #ebf7f5;
$orange: #e97300;
$white: #ffffff;
$black: #000000;
$border-gray: #c0c0c0;
$normal-gray: #666666;
$medium-gray: #888888;

// Typography
$font-inter: "Inter", sans-serif;
$main-heading-size: 30px;
$section-heading-size: 30px;
$sub-heading-size: 24px;
$body-text-size: 16px;

// Spacing
$section-padding: 42px;

// Breakpoints
$container: 1280px;
$mobile-breakpoint: 768px;
